---
layout: static
title: Welcome to Cleanweb Berkeley
---
<h2>Spring Semester Schedule</h2>
We are meeting every Wednesday 10-11am at the D-Lab.  Join us!

<h2>Connect</h2>

<p><a href="https://groups.google.com/forum/#!forum/cwberkeley">Join the google
    group to stay up-to-date.</a></p>
<p>Go to the repositories at 
  <a href="http://github.com/cwberkeley">github.com/cwberkeley</a> and join the effort.</p>


<h2> Latest Meeting Notes</h2>

<div class="posts">
  {% for post in site.posts limit: 1%}
  <a class="post-title" href="{{ post.url }}">
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.title }}
  </a>
  {{ post.content }}
  {% endfor %}
</div>

{% comment %}
Putting the capture all on one line avoids indentation leading
to a code snippet. This is now completely disabled, as we have a post-list in
the sidebar.

{% capture post_list %}{% include post_list.md %}{% endcapture %}
{{ post_list | markdownify }}

{% endcomment %}

<h2> <a name="links" class="anchor" href="#links"><span class="octicon
							       octicon-link"></span></a>Links</h2>

<h3> <a name="d-lab" class="anchor" href="#d-lab"><span class="octicon
							       octicon-link"></span></a>D-Lab</h3>

<p>The <a href="http://dlab.berkeley.edu/">D-Lab</a> supports data-intense
  social science research at UC Berkeley.  Our interdisciplinary group meets is a
  <a href="http://dlab.berkeley.edu/working-groups">D-Lab working group</a> and we
  meet in a D-Lab convening space.  </p>

<h3> <a name="berkeley-rural-energy-group" class="anchor"
        href="#berkeley-rural-energy-group"><span class="octicon
							 octicon-link"></span></a>Berkeley Rural Energy Group</h3>

<p><a href="http://breg.berkeley.edu">BREG</a> is an important partner for
  infoEnergy's work in the off-grid space, providing a forum for engaging
  practitioners and academics who are working on energy issues in the developing
  world.  </p>

<h3> <a name="berkeley-energy-and-resources-collaborative" class="anchor"
        href="#berkeley-energy-and-resources-collaborative"><span class="octicon
									 octicon-link"></span></a>Berkeley Energy and Resources Collaborative</h3>

<p>We are a <a href="http://berc.berkeley.edu/programs/berc-communities/">BERC
    Community</a>.</p>

